#wrap {
    background-color: #E8E8E8;
    width:440px;
    height: 956px;
    padding-left: 15px;
    padding-right: 15px;
}
#wrap h1 {
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing:-0.02em;
    color: #1C3643;
    padding-top: 128px;
}
#wrap > p {} /* #wrap의 모든 자식 p */
#wrap h1+p { 
    margin-top: 30px;
    font-size: 1rem;
    letter-spacing:-0.02em;
} /* #wrap의 h1 옆에 p */
#wrap #login_frm {}
#wrap #login_frm h2 {
    font-size:1.375rem;
    letter-spacing:-0.02em;
    font-weight: 600;
    margin-bottom: 20px;}
#wrap #login_frm p {
    border:1px solid #000;
    border-radius:10px;
    color: #fff;
    height: 40px;
    line-height :40px;
}
#wrap #login_frm p input {
}
#wrap #login_frm p #login_btn {background-color: #3B6978;
}
#wrap #login_frm p .login_google {
    background-color: #fff;
}
#wrap #login_frm+p {}
#wrap #login_frm+p a {
    color: black;
    font-weight: 700; 
    }